/*
		Index-Bar
*/

*{
	font-family: sans-serif;
}

#index-bar{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

#index-bar a,
#index-bar span{
	margin: 0 5px;
}

#index-bar .selected{
	font-size: 35px;
}

#index-bar ul{
	border-left: solid 1px #000;
	padding: 5px;
	margin-left: 5px;
}

#index-bar ul,
#index-bar h1{
	display: inline-block;
}

#index-bar ul li{
	list-style: none;
}

/*
	END ==> Index-Bar
*/